# Environment variables
.env

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Database files
db.sqlite3
*.sqlite3

# Log files
*.log

# Django media and static files (if stored locally)
/media/
/static/

# IDE files
.idea/
.vscode/

# Node.js
node_modules/
npm-debug.log
yarn-error.log